<h1 class="d-flex flex-row" data-aos="fade">
  <span>Collection</span>
  <i class="bi bi-grid ms-auto"></i>
</h1>

<div class="grid" style="gap: var(--gap);">
  <a 
    *ngFor="let entry of collection" 
    class="card gi-12 gi-sm-6 gi-md-4"
    routerLink="/collection/{{entry.slug}}"
  >
    <div class="d-flex flex-row align-items-center">
      <div [ngSwitch]="entry.type">
        <i *ngSwitchCase="'book'" class="bi bi-book"></i>
        <i *ngSwitchCase="'movie'" class="bi bi-film"></i>
        <i *ngSwitchCase="'manga'" class="bi bi-book-half"></i>
        <i *ngSwitchCase="'manhwa' || 'manhua'" class="bi bi-journal-arrow-down"></i>
        <i *ngSwitchCase="'anime'" class="bi bi-emoji-laughing"></i>
      </div>
      <div class="fw-bold ms-2">{{entry.title}}</div>
    </div>    
    <div>by <span *ngFor="let author of entry.authors" class="tag">{{author}}</span></div>
  </a>
</div>
