.menu-highlight {
  width: 100%;
  height: 3px;
  background-color: transparent;
  border-radius: 4px;
}
.menu-icon {
  display: grid;
  place-items: center;
  width: 80px;
  height: 30px;
  font-size: 20px;
}
.menu-text {
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-bottom: 3px;
}

a.active {
  .menu-highlight { background-color: var(--orange); }
  .menu-icon, .menu-text { color: var(--orange); }
}
