<header class="sticky-top border-bottom">
  <div class="wrapper d-flex flex-row align-items-center py-2">
    <div>
      <i class="bi bi-chat-square-quote"></i>
    </div>
    <div class="ms-2">
      <a routerLink="/home">Quotes</a>
    </div>
    <div class="ms-auto">
      <i class="bi bi-moon"></i>
    </div>
  </div>
</header>

<main class="flex-grow-1">
  <div class="wrapper py-2">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="text-center border-top py-2">
  &copy; {{currentYear}} <a href="https://github.com/nicotakenotice" target="_blank">@nicotakenotice</a>
</footer>
