<div class="flex-grow-1 position-relative">
  <div class="scroll-box">
    <div class="wrapper" style="padding: var(--gap); min-height: 100%;">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- ====================================================================== -->

<div style="background-color: var(--bg-color); backdrop-filter: var(--blur);">
  <div class="wrapper d-flex flex-row align-items-center" style="gap: var(--gap);">
    <a 
      routerLink="/" 
      routerLinkActive="active" 
      [routerLinkActiveOptions]="{ exact: true }" 
      class="d-flex flex-column align-items-center"
    >
      <div class="menu-highlight"></div>
      <div class="menu-icon"><i class="bi bi-house"></i></div>
      <div class="menu-text">Home</div>
    </a>

    <a 
      routerLink="/collection" 
      routerLinkActive="active" 
      class="d-flex flex-column align-items-center"
    >
      <div class="menu-highlight"></div>
      <div class="menu-icon"><i class="bi bi-grid"></i></div>
      <div class="menu-text">Collection</div>
    </a>

    <a 
      routerLink="/settings" 
      routerLinkActive="active" 
      class="d-flex flex-column align-items-center ms-auto"
    >
      <div class="menu-highlight"></div>
      <div class="menu-icon"><i class="bi bi-gear"></i></div>
      <div class="menu-text">Settings</div>
    </a>
  </div>
</div>
