<header class="sticky-top">
  <div class="wrapper d-flex flex-row align-items-center py-2">
    <div>
      <a routerLink="/"><i class="bi bi-chat-square-quote"></i></a>
    </div>
    <div class="ms-auto">
      <i class="bi bi-moon"></i>
    </div>
  </div>
</header>

<main class="flex-grow-1 overflow-hidden">
  <div class="wrapper py-2">
    <router-outlet></router-outlet>
  </div>
</main>

<footer class="text-center py-2">
  &copy; {{currentYear}} <a href="https://github.com/nicotakenotice" target="_blank">@nicotakenotice</a>
</footer>
