@use "./grid.scss";

:root {
  --text-color: rgba(255, 255, 255, 0.8);
  --bg-color: rgba(0, 0, 0, 0.6);
  --gap: 10px;
  --blur: blur(3px);
  --orange: #e76f51;
}

/* ========================================================================= */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.4); border-radius: 4px; }

/* ========================================================================= */

body {
  color: var(--text-color);
  background-image: url(assets/nature-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  &:hover { color: var(--orange); }
}

/* ========================================================================= */

.scroll-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden auto;
}
.wrapper {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  background-color: var(--bg-color);
  backdrop-filter: var(--blur);
  border-radius: var(--gap);
  padding: var(--gap);
}
.center {
  display: grid;
  place-items: center;
}
.tag {
  display: inline-block;
  background-color: black;
  border-radius: var(--gap);
  padding: 0 8px;
}
