@use "./grid.scss";

:root {
  --text-color: var(--bs-light);
  --bg-color: rgba(0, 0, 0, 0.6);
  --gap: 15px;
  --blur: blur(3px);
  --accent: #e76f51;
}

/* ========================================================================= */

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.4) transparent;
}
::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: rgba(255, 255, 255, 0.4); border-radius: 4px; }

/* ========================================================================= */

body {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  color: var(--text-color);
  background-image: url(assets/nature-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
h1 { 
  text-shadow: 0 0 2px black; 
  margin-bottom: 0; 
}
a {
  display: inline-block;
  color: var(--text-color);
  text-decoration: none;
  cursor: pointer;
  transition: color 0.2s;
  &:hover { color: var(--accent); }

  &.card {
    outline: 4px solid transparent;
    transition: color 0.2s, outline-color 0.2s;
    &:hover { 
      color: var(--accent);
      outline-color: var(--accent); 
    }
  }
}

/* ========================================================================= */

.scroll-box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden auto;
}
.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}
.card {
  background-color: var(--bg-color);
  backdrop-filter: var(--blur);
  border-radius: var(--gap);
  padding: var(--gap);
}
.center {
  display: grid;
  place-items: center;
}
.tag {
  display: inline-block;
  background-color: black;
  border-radius: var(--gap);
  padding: 0 8px;
}
